.tab-bar-container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 100%;
}

.tab-bar-items {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: 0;
}

.tab-bar-items::-webkit-scrollbar {
    display: none;
}

.tab-bar-operations {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.tab-bar-operation-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55% 55%;
    cursor: pointer;
    height: var(--tab-bar-height);
    opacity: .5;
    width: var(--tab-bar-height);
}

.tab-bar-operation-icon:active {
    opacity: .7;
}

.tab-bar-operation-icon-minimize {
    background-image: url('../../../../../lib/img/window/minimize.svg');
}

.tab-bar-operation-icon-close {
    background-image: url('../../../../../lib/img/window/close.svg');
}
