.left-pane-container {
    background-color: var(--panel1-color);
    overflow-x: hidden;
    height: 100%;
}

.left-pane-top {
    align-items: center;
    display: flex;
    justify-content: center;
}
