.tab-pane-container {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100%;
}

.tab-pane-items {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: 0;
}

.tab-pane-items::-webkit-scrollbar {
    display: none;
}

.tab-pane-operations {
    -webkit-app-region: no-drag;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.tab-pane-operation-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45% 45%;
    height: var(--tab-pane-height);
    opacity: .5;
    transition: opacity 50ms;
    width: var(--tab-pane-height);
}

.tab-pane-operation-icon:active {
    opacity: .7;
}

.tab-pane-operation-icon-minimize {
    background-image: url('../../../../../lib/img/window/minimize.svg');
}

.tab-pane-operation-icon-close {
    background-image: url('../../../../../lib/img/window/close.svg');
}
