.dropdown-item {
    align-items: center;
    display: flex;
    padding: 5px;
    transition: background-image 50ms;
}

.dropdown-item:hover {
    background-color: #313136;
}

.dropdown-item-text {
    font-weight: bold;
}

.dropdown-item-input {
    background-color: var(--unselected-tab-color);
    border: none;
    border-radius: 3px;
    color: var(--font-color);
    height: 20px;
    outline: none;
    padding: 2px 5px;
    min-width: 150px;
}
