:root {
    --font-color: #ffffff;
    --dark-font-color: #bbbbbb;
    --panel1-color: #131314eb;
    --panel2-color: #2e2f30eb;
    --selected-tab-color: #131314eb;
    --unselected-tab-color: #4a4a50eb;
    --border-color1: #666666eb;
    --property-item-horizontal-margin: 5px;
    --content-item-icon-size: 18px;
    --tab-pane-height: 30px;
}

body {
    color: var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
