.popup-item {
    background-color: var(--panel1-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 5px;
    width: 350px;
}

.popup-item-top {
    display: flex;
    justify-content: space-between;
}

.popup-item-close {
    /* fix */
    background-image: url('../../../../../lib/img/popup/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    cursor: pointer;
    height: 20px;
    opacity: .5;
    transition: opacity 50ms;
    width: 20px;
}

.popup-item-close:active {
    opacity: 1;
}

.popup-item-title {
    font-size: 115%;
}

.popup-item-description {
    color: var(--dark-font-color);
    font-size: 95%;
    margin: 5px 0;
}

.popup-item-progress-bar {
    background-color: var(--unselected-tab-color);
    border-radius: 3px;
    height: 20px;
    position: relative;
}

.popup-item-progress-bar-filling {
    background-color: #15196f;
    border-radius: 3px;
    height: 20px;
    position: absolute;
}

.popup-item-progress-bar-text {
    color: #cccccc;
    font-size: 85%;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10000;
}
